/* FONTS SIZES */
$base-header-nav: 1em;
$article-heading: 2.7em;
$sub-article-heading: 1.5em;
$base-para: 1.7em;

/* FONTS FAMILY */
$montserrat:'Montserrat', 'Droid Arabic Kufi';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//Arabic font
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../fonts/DroidArabicKufi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../fonts/DroidArabicKufi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}